        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login-container {
            background: #fff;
            padding:0;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 1024px;
            text-align: center;
            position: relative;
            padding-top: 120px;
            padding-bottom: 120px;
        }

        h2{
            margin: 20px 0;
        }

        .form-group {
            margin-bottom: 15px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }
        .form-group label {
            /* display: block; */
            font-weight: bold;
        }
        .form-group input {
            width: 300px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            width: 250px;
            padding: 10px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 24px;
            margin-top: 5px;
        }
        button:hover {
            background-color: #218838;
        }
        p {
            margin: 16px 0;
        }
        .error {
            color: red;
            font-size: 14px;
        }
        .EC_logo{
            background-color: #67cf7e;
            width: 100%;
            margin: 0;
            text-align: left;
            position: absolute;
            top: 0;
            height: 60px;
            line-height: 60px;
            color: #eee;
        }
        .error-message{
            width: 50%;
            background-color: pink;
            margin: 20px auto;
            padding: 20px 0;
            font-weight: bold;
            color: #D34C2C;
        }

        h2{
            margin: 10px 0;
        }
    